# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env
.env.*

# VSCode
.vscode/

# Data & artifacts
*.tsv
*.csv
!clean_data.csv
!trending_products.csv

# Logs
*.log

# OS
.DS_Store

# Notebooks checkpoints
.ipynb_checkpoints/

# Large media
*.mov
*.mp4
!static/v.mp4
!22BCE11684_Ecommerce_product_recommender.mp4
